[init]
	defaultBranch = main

[user]
	email = chris@penkin.me
	name = Christopher Penkin
	signingkey = CE1C0A66CD2841A5

[core]
	autocrlf = input
  pager = hunk pager

[commit]
	gpgsign = true

[merge]
    conflictstyle = zdiff3   # cleaner merge conflicts

[diff]
    colorMoved = default
[gpg]
	program = /opt/homebrew/bin/gpg
