layout {
    pane split_direction="vertical" {
        pane split_direction="horizontal" {
            pane name="DB DEV" command="zsh" {
                args "-ic" "hcloud-db-dev; exec zsh"
            }
            pane name="DB AUX" command="zsh" {
                args "-ic" "hcloud-db-aux; exec zsh"
            }
        }
        pane name="TERMINAL"
    }
}
